In [5]:
import pandas as pd 
import numpy as np

In [10]:
TrainValue=pd.read_csv('https://raw.githubusercontent.com/Vidya92/DrivenData_PumpItUPCompetition-/main/TrainingSetValues.csv')

TrainLabel=pd.read_csv('https://raw.githubusercontent.com/Vidya92/DrivenData_PumpItUPCompetition-/main/TrainSetLabels.csv')

In [11]:
TrainValue.shape

(59400, 40)

In [12]:
TrainValue.columns

Index(['id', 'amount_tsh', 'date_recorded', 'funder', 'gps_height',
       'installer', 'longitude', 'latitude', 'wpt_name', 'num_private',
       'basin', 'subvillage', 'region', 'region_code', 'district_code', 'lga',
       'ward', 'population', 'public_meeting', 'recorded_by',
       'scheme_management', 'scheme_name', 'permit', 'construction_year',
       'extraction_type', 'extraction_type_group', 'extraction_type_class',
       'management', 'management_group', 'payment', 'payment_type',
       'water_quality', 'quality_group', 'quantity', 'quantity_group',
       'source', 'source_type', 'source_class', 'waterpoint_type',
       'waterpoint_type_group'],
      dtype='object')

In [13]:
TrainLabel.columns

Index(['id', 'status_group'], dtype='object')

In [31]:
TrainLabel.shape
TrainLabel['status_group'].unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

In [21]:
TrainValue.info() #we are going to want to change data columns to datetime objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  datetime64[ns]
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(7), object(29)
memory usage: 18.1+ MB

In [20]:
TrainValue.head()
import datetime as dt 
TrainValue['date_recorded']=pd.to_datetime(TrainValue['date_recorded'],infer_datetime_format=True,errors='coerce')

In [24]:
TrainValue.isna().any() #funder, subvillage, public_meeting, scheme_name, permit have missing values. 
TrainValue.isna().mean() #scheme name has 47% missing while other variables have less than 7% missing.

id                       0.000000
amount_tsh               0.000000
date_recorded            0.000000
funder                   0.061195
gps_height               0.000000
installer                0.061532
longitude                0.000000
latitude                 0.000000
wpt_name                 0.000000
num_private              0.000000
basin                    0.000000
subvillage               0.006246
region                   0.000000
region_code              0.000000
district_code            0.000000
lga                      0.000000
ward                     0.000000
population               0.000000
public_meeting           0.056128
recorded_by              0.000000
scheme_management        0.065269
scheme_name              0.474175
permit                   0.051448
construction_year        0.000000
extraction_type          0.000000
extraction_type_group    0.000000
extraction_type_class    0.000000
management               0.000000
management_group         0.000000
payment                  0.000000
payment_type             0.000000
water_quality            0.000000
quality_group            0.000000
quantity                 0.000000
quantity_group           0.000000
source                   0.000000
source_type              0.000000
source_class             0.000000
waterpoint_type          0.000000
waterpoint_type_group    0.000000
dtype: float64

In [27]:
#let's join the two tables so I can explore. 

TrainData=TrainValue.merge(TrainLabel,on='id')

In [29]:
TrainData.shape

(59400, 41)